[submodule "scikit-learn"]
	path = scikit-learn
	url = git@github.com:franciscovargas/scikit-learn.git
[submodule "MLPHonoursExtension"]
	path = MLPHonoursExtension
	url = https://github.com/franciscovargas/MLPHonoursExtension.git
[submodule "nolearn"]
	path = nolearn
	url = https://github.com/franciscovargas/nolearn.git
